{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}俊杰中文网{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'store/style.css' %}">
  {% block link %}{% endblock %}
</head>
<body>
  <!-- 顶部导航 -->
  <header class="navbar">

    <div class="container nav-content">
    <a href="{% url 'index' %}">
      <div class="logo">俊杰中文网</div>
    </a>
      <form class="search-box">
        <input type="text" name="q" placeholder="搜索感兴趣的书">
        <button type="submit">🔍</button>
      </form>

      <div class="user-actions">
        {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}">{{ request.user.username }}</a>
          <a href="{% url 'logout' %}">退出</a>
        {% else %}
          <a href="{% url 'login' %}">登录</a>
          <a href="{% url 'register' %}" class="btn-primary">注册</a>
        {% endif %}
      </div>
    </div>
  </header>

  <!-- 主体内容 -->
  <main class="container">
    {% block body %}{% endblock %}
  </main>

  <!-- 页脚 -->
  <footer class="footer">
    <div class="container">
      &copy; 2025 陈俊杰 - 版权所有
    </div>
  </footer>
</body>
</html>
