.main-content {
    display: flex;
}

.book_list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    margin-right: 10vh;
}

.sidebar{
    display: flex;
    height: 100%;
    min-width: 40vh;
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.book_list .book{
    width: 50%;
    margin-bottom: 10vh;
    display: flex;
    /*align-items: center;*/
}

.book_list .book-info{
    padding: 10px;
}

.book-info .title, .book-info .other-info{
    margin-bottom: 10px;
}

.book-info .intro{
    margin-top: 5vh;
    display: -webkit-box;        /* 创建弹性盒模型，配合行数限制 */
    -webkit-box-orient: vertical; /* 盒子纵向排列 */
    -webkit-line-clamp: 2;       /* 限制显示两行 */
    overflow: hidden;            /* 超出的内容隐藏 */
    text-overflow: ellipsis;     /* 超出显示省略号 */
}